body {

    color: whitesmoke;
    
    background-image: url("https://media.istockphoto.com/photos/christmas-lights-defocused-background-bokeh-gold-blue-picture-id613518332?k=6&m=613518332&s=612x612&w=0&h=Own5MdgJXjNhFd0YUyED1UP3mQsHeNhfML9F-DQYdYw=");
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
