body {

    color: whitesmoke;
    
    background-image: url("http://bgfons.com/uploads/tile/tile_texture3081.jpg");
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;

}

