body {

    color: white;
    
    background-image: url("https://www.freegreatpicture.com/files/photo104/51689-brightness-color-texture-background-material.jpg");
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;

}

p {

    background-color:#3a3a3a;


}

#img1 {

    background-image: url("https://thumbs.dreamstime.com/t/wood-lath-wall-texture-background-wood-lath-wall-texture-99263038.jpg");
    background-repeat: repeat;

}

